{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "simple-import-sort"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "prettier/prettier": ["warn"],
    "simple-import-sort/imports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn"
  },
  "ignorePatterns": [
    "*.test.js"
  ]
}